name: Publish Package to Github Packages

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    strategy:
      matrix:
        profile: [ windows, linux ]
        os: [ windows-latest, ubuntu-latest ]
        exclude:
          - profile: windows
            os: ubuntu-latest
          - profile: linux
            os: windows-latest

    runs-on: ${{ matrix.os }}
    name: Depoy ${{ matrix.profile }} artifact
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}
      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Publish to Github Packages
        run: mvn deploy -DskipTest -P${{ matrix.profile }} -s $GITHUB_WORKSPACE/settings.xml
        env:
          GITHUB_TOKEN: ${{ github.token }}
